@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>

<h3>This page was designed with:</h3>

<ul>
    <li>Microsoft Visual Studio 2015</li>
    <li>Microsoft .Net 5 RC</li>
    <li>Entity Framework 7</li>
    <li>MVC 6</li>
    <li>Microsoft SQL Server</li>
</ul>

<h3>This website is hosted on and deployed to Azure Webservices</h3>
