@using System.Threading.Tasks
@using Microsoft.ApplicationInsights.Extensibility
@model IEnumerable<Chapter>
@{
    ViewData["Title"] = "Chapters";
}

<br>
<br>
<br>
<div class="container-fluid col-md-6 col-md-offset-3">
    <h2>Select the Chapter!</h2>
    <div class="btn-group-vertical btn-group-lg">
        @foreach (var chapter in Model)
        {
            <div class="row">
                <button class="myButton btn">Chapter @chapter.ChapterId: @chapter.ChapterName</button>
                <a href="/App/Review/?chapter=@chapter.ChapterId" class="btn btn-primary">Review</a>
                <a href="/App/Quiz/?chapter=@chapter.ChapterId" class="btn btn-primary">Take Quiz!</a>
            </div>
            <br>
        }
    </div>
</div>