@model List<Result>
@{
    ViewData["Title"] = "Results";
}

<div>
    <h2><span class="label label-default">Quiz Results for: @User.Identity.Name</span></h2>
    <br/>
    @foreach (var results in Model.OrderBy(r => r.ChapterId))
    {
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Chapter: @results.ChapterId</h3>
                </div>
                <div class="panel-body">
                    Correct: @results.Correct,
                    Wrong: @results.Wrong
                </div>
            </div>
        </div>
    }
</div>
