@{
    ViewData["Title"] = "Home Page";
}

<div class="container-full">
    <div class="row">
        <div class="col-lg-12 text-center v-center">
            <h1>German Quiz</h1>
            <p class="lead">Implemented in ASP.NET 5, Entity Framework 7, Bootstrap 3 and MVC 6</p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <span class="btn btn-lg"><a href="/Home/Chapters" class="btn btn-lg btn-primary" type="button">Enter!</a></span>
        </div>
    </div>
</div>